.detail-search {
  padding-top: 50%;
  padding-bottom: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  color: rgb(233, 66, 0);
}

.detail-hire {
  padding-top: 50%;
  padding-bottom: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(233, 66, 0);
}

p {
  margin: 0;
}
