.open-position * {
  margin: 0;
}

.open-position {
  position: relative;
  padding: 15px 10px;
  text-align: left;
  color: rgb(74, 74, 74);
}

@media only screen and (min-width: 768px) {
  .open-position {
    width: 500px;
    margin: 0 auto;
  }
}

.yoga-pic {
  margin-top: 15px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 216, 216);
  color: rgb(245, 196, 0);
  position: absolute;
  text-align: center;
  font-size: 1.75rem;
  line-height: 75px;
}

.class-header {
  margin-left: 100px;
}

.class-duration {
  font-weight: 600 !important;
}

.class-studio,
.class-duration,
.class-date,
.class-responses,
.class-wage,
.class-description,
.class-applicants,
.class-startDate {
  font-weight: 400;
  color: rgb(74, 74, 74);
}

.class-responses {
  font-size: 0.75rem;
  font-style: italic;
}

.class-startDate {
  font-weight: 500;
  font-size: 0.75rem;
}

.class-mods {
  position: absolute;
  right: 15px;
  top: 15px;
}

.expand-icon {
  margin-bottom: 10px;
}

.expand-icon,
.expand-opts {
  right: 0;
  position: absolute;
}

.expand-opts {
  margin-top: 10px;
}

.expand-opt {
  font-size: 0.5rem !important;
  background: none;
  text-align: right;
  height: 10px !important;
  padding: 0;
  width: 75px;
}

@media only screen and (min-width: 768px) {
  .expand-opt {
    font-size: 0.75rem !important;
    width: 150px;
  }
}

.expanded-info,
.applicant-list {
  margin-top: 15px;
}

.applicant-list {
  font-size: 0.75rem;
  color: rgb(74, 74, 74);
  font-weight: 500;
}

.applicant {
  position: relative;
}

.applicant:hover * {
  font-weight: 600 !important;
  font-style: italic;
}

.applicant-name {
  font-size: 0.75rem;
  font-weight: 400;
  margin-left: 20px;
}

.contact {
  position: absolute;
  right: 0;
  top: 0;
}
