.hidden {
  display: none;
}

.select-view-button {
  width: 150px;
  margin: 0 12px;
  height: 65px;
  font-weight: 600;
}

.selected {
  background-color: rgb(245, 196, 0);
  color: white;
}

.exit {
  position: absolute;
  top: 11px;
  right: 20px;
}

ul,
li {
  list-style: none;
  padding: 0;
}
