.hidden {
  display: none;
}

.success-alert {
  border: 1px solid grey;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
  width: 60%;
  padding: 10px 50px;
  background-color: lightgreen;
}

.exit {
  position: absolute;
  top: 11px;
  right: 20px;
}

ul,
li {
  list-style: none;
  padding: 0;
}
