.hidden {
  display: none;
}

.display-tabs {
  padding: 15px 0px;
  border-bottom: 10px solid rgb(216, 216, 216);
}

.select-view-button {
  width: 150px;
  margin: 0 12px;
  height: 65px;
  font-weight: 600;
}

.selected {
  background-color: rgb(245, 196, 0);
  color: white;
}

.open-class-header {
  padding-bottom: 5px;
  color: rgb(74, 74, 74);
}

.applied-list-header {
  border-bottom: 1px solid rgb(216, 216, 216);
  color: rgb(74, 74, 74);
}

ul,
li {
  list-style: none;
  padding: 0;
}
