h3 {
  margin: 0;
  padding: 25px 0;
}

.search {
  margin-bottom: 25px;
  padding-top: 20px;
  border-bottom: 1px solid rgb(216, 216, 216);
  font-size: 0.8rem;
}

.search-header h3 {
  font-size: 0.75rem;
  padding: 0;
  font-weight: 400;
}

.search-header {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 15px;
}

.select-yoga {
  width: 200px !important;
  margin-bottom: 5px;
}

.search input[type="checkbox"] {
  transform: scale(0.75);
  width: 35px;
  padding: 0;
  margin: 0 auto;
}

.day-check label {
  margin-left: 15px;
  position: relative;
  top: -12px;
}

.search input[name="monday"] {
  margin-right: 35px;
}

.search input[name="tuesday"] {
  margin-right: 32px;
}

.search input[name="wednesday"] {
  margin-right: 5px;
}

.search input[name="thursday"] {
  margin-right: 22px;
}

.search input[name="friday"] {
  margin-right: 47px;
}

.search input[name="saturday"] {
  margin-right: 25px;
}

.search input[name="sunday"] {
  margin-right: 35px;
  margin-bottom: 15px;
}

.search select {
  background-color: rgb(235, 235, 235);
  color: black !important;
  font-size: 0.8rem;
}

.reset-filter-button {
  width: 150px;
  margin-left: 10px;
  height: 45px;
  font-weight: 600;
  font-size: 0.8rem;
}

.search input[type="submit"] {
  background-color: rgb(235, 235, 235);
  color: black !important;
  width: 150px;
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 0.8rem;
}
