h1 {
  margin: 0;
  padding-top: 15%;
}

.dashboard-header {
  position: relative;
}

.dash-logo {
  margin: 0;
  font-weight: 400;
  color: rgb(245, 196, 0);
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.logout-button {
  position: absolute;
  top: 5px;
  right: 5px;
}
