.dash-nav-bar {
  width: 100%;
  text-align: right;
  position: fixed;
  right: 10px;
  top: 10px;
}

.dash-nav-icon {
  transform: scale(1.25);
  color: rgb(245, 196, 0);
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .dash-nav-icon {
    transform: scale(2);
    position: absolute;
    right: 30px;
    top: 20px;
  }
}

.dash-nav-item {
  margin: 15px auto;
}

@media only screen and (min-width: 768px) {
  .dash-nav-item:first-child {
    margin-top: 60px;
  }

  .dash-nav-item {
    margin: 20px auto;
    position: relative;
    right: 20px;
  }
}

.dash-nav-item a {
  width: 100px;
  background-color: rgb(245, 196, 0);
  padding: 5px;
  border-radius: 3px;
  color: white;
}

ul {
  margin: 0;
}
