.landing-header {
  padding-top: 50%;
  padding-bottom: 75%;
  background: linear-gradient(to top, rgb(251, 245, 0), rgb(245, 196, 0));
}

@media only screen and (min-width: 768px) {
  .landing-header {
    padding-top: 25%;
    padding-bottom: 25%;
  }
}

.landing-header h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 2.5rem;
  color: white;
}

.landing-header button {
  background-color: white;
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-weight: 600;
}

.main-icon {
  color: white;
}
