.landing-header {
  padding-top: 50%;
  padding-bottom: 75%;
  color: white;
  text-shadow: 1px 1px 1px rgb(133, 104, 0);
  background: linear-gradient(to top, rgb(251, 245, 0), rgb(245, 196, 0));
}

.landing-header h1 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.landing-header h2 {
  margin: 0;
}
