.nav-bar {
  width: 100%;
  text-align: right;
  position: fixed;
  right: 10px;
  top: 10px;
}

.hidden {
  display: none;
}

.nav-icon {
  transform: scale(1.25);
  color: rgb(74, 74, 74);
}

@media only screen and (min-width: 768px) {
  .nav-icon {
    transform: scale(2);
    position: relative;
    right: 20px;
    top: 20px;
  }
}

.nav-item {
  margin: 15px auto;
}

@media only screen and (min-width: 768px) {
  .nav-item:first-child {
    margin-top: 37px;
  }

  .nav-item {
    margin-right: 12px;
  }
}

.nav-item a {
  background-color: rgb(74, 74, 74);
  padding: 5px 15px;
  border-radius: 3px;
  color: white;
}

ul {
  margin: 0;
}
