.nav-bar {
  width: 100%;
  text-align: right;
  position: fixed;
  right: 4%;
  top: 2%;
  text-shadow: none;
}

.hidden {
  display: none;
}

.nav-icon {
  right: 5px;
  top: 5px;
  display: inline-block;
}

.nav-item {
  margin: 5px auto;
}

ul {
  margin: 0;
}
