.sign-up-form {
  color: rgb(74, 74, 74);
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 10px solid rgb(216, 216, 216);
}

.sign-up-form input {
  margin-top: 5px;
}

input[name="studio"] {
  margin-left: 40px;
}

input[name="email"] {
  margin-left: 50px;
}

input[name="password"] {
  margin-left: 10px;
}

label[for="confirmPass"] {
  display: inline-block;
  width: 50px;
  position: relative;
  top: 5px;
  margin-top: -15px;
}

input[name="confirmPass"] {
  margin-left: 58px;
}

select {
  width: 350px !important;
}

@media only screen and (max-width: 320px) {
  select {
    width: 290px !important;
  }
}
